@import "http://fonts.googleapis.com/earlyaccess/notosanskr.css";

/*** custom style ***/
* {font-family: 'Noto Sans KR', sans-serif;}

/*** color ***/

$color-wh: #ffffff;
$color-lg-gy: #f5f5f5;
$color-md-gy: #aaaaaa;
$color-dk-gy: #505355;
$color-bk: #000000;

$color-em: #42a;

/*** space ***/
$radi : 5px;
